@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #1E1E1E;
    --font-primrary-color:#FFFFFF;
    --primary-color:  #FD6F00;
   

}

*{
    margin: 0px;
    padding: 0;
    font-family: "Antonio", sans-serif;
    color: var(--font-primrary-color);
}

body{
    background-color: var(--background-color);
}

.container{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 60px;
    padding-right: 60px;
}